div {
	display: flex;
	justify-content: center;
}

.image-logo {
	margin-top: 100px;
	margin-bottom: 50px;
}

.form-button {
	background-color: #F0F0F0;
}

#search-button {
	margin-left: 95px;
	margin-right:15px;
	margin-top: 10px;
	
}